<body>
    <div class="full">
        <h1 class="text">Page Not Found!</h1>
        <h1 class="text ">ERROR 404 !</h1>
    </div>
</body>
<style>
    .full {
        padding: 0;
        height: 665px;
        width: 100%;
        background-color: rgb(194, 205, 255);
    }

    .text {
        text-align: center;
        padding-top: 200px;
        font-size: 60px;
    }
</style>